body{
    background-color: lime;
    text-align: center;
}
div.box{
    width: 100%;
    min-width: fit-content;
    height: max-content;
    background-color: black;
    margin: 0;
    margin-top: 0;
    margin-bottom: 10px;
}
div.flexBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: black;
    width: 100%;
    min-width: 900px;
    margin: 0;
    float: center;
}
div.game{
    width: 300px;
    height: 300px;
    border: 3px solid lime;
    float: left;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
button.norm{
    width: 200px;
    height: 30px;
    background-color: black;
    border: 3px solid lime;
    color: lime;
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
div.title{
    width: 270px;
    height: 50px;
    font-size: 30px;
    color: lime;
    text-align: center;
    float: center;
    margin: auto;
    margin-top: 3px;
}
div.img{
    width: 290px;
    height: 200px;
    background-size: contain;
    float: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
img.thumbNail{ /*Limitation: No images bigger than 280x150*/
    margin-left: auto;
    margin-right: auto;
    display: block;    
    border: 3px solid lime;
}
button.play{
    width: 100px;
    height: 40px;
    border: 3px solid lime;
    background-color: black;
    font-size: 20px;
    color: lime;
    margin-bottom: 10px;
}
h2.credits{
    color: lime;
}
h3.text{
    color: lime;
}
div.creditRoles{
    text-align: left;
    width: 150px;
}
div.creditLinks{
    text-align: right;
    width: 150px;
}
a.credit{
    color: lime;
}
canvas.default{
    border: 3px solid lime;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
h1.title{
    font-size: 50px; 
    color: lime;
    margin-top: 0;
    margin-bottom:0
}
div.story{
    border: 3px solid lime;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 13px;
    width: 600px;
    height: max-content;
    /*min-height: 635px;*/
    text-align: left;
    padding-left: 5px;
    overflow: auto;
}
div.greenBox{
    border: 3px solid lime;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    width: 100%;
    padding-left: 5px;
}
div.gameBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
    border: 3px solid lime; 
    background-color: white;
    width: 600px; 
    margin-top: 5px; 
    margin-bottom: 5px; 
    margin-left: 5px; 
    margin-right: 5px; 
}
div.clouds{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
    border: 3px solid lime; 
    background-color: white;
    width: 650px; 
    margin-top: 5px; 
    margin-bottom: 5px; 
    margin-left: 5px; 
    margin-right: 5px; 
}
div.greenGameBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
    border: 3px solid lime;
    width: 600px; 
    margin-top: 5px; 
    margin-bottom: 5px; 
    margin-left: 5px; 
    margin-right: 5px; 
}
p.score{
    float: left;
    margin-left: 25px;
    align-self: flex-start;
}
p.blackScore{
    margin-left: 25px;
    color: lime;
    align-self: flex-start;
}
div.container{
    position: relative;
    margin: 0px;
    padding: 0px;
}
div.popMessage{
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 5px;
    color: lime;
    font-size: 30px;
}
div.popupBox{
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 5px;
    margin: 5px;
    font-size: 30px;
    border: 3px solid lime;
    color: lime;
    width: 96%;
    background-color: black;
    top: 30%;
    left: 0%;
}
div.verticalBox{
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 100%;
    min-width: 900px;
    margin: 0;
    float: center;
}